In [71]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [72]:
train = pd.read_csv('train_final.csv')
test = pd.read_csv('test_final.csv')

In [73]:
#исследуем данные
print(train.shape, test.shape)

(44638, 29) (23525, 28)

In [74]:
print(train.isna().sum())
print('#################')
print(test.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64
#################
hotel                             0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64

In [75]:
train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,3,2016,February,7,12,0,2,2,...,E,F,0,No Deposit,0,Transient,81.0,1,0,2016-02-14
1,City Hotel,1,50,2016,November,47,18,1,2,2,...,A,A,0,No Deposit,0,Transient,93.6,0,2,2016-10-09
2,City Hotel,0,14,2015,September,37,7,1,5,2,...,F,F,0,No Deposit,0,Contract,166.0,0,3,2015-09-13
3,City Hotel,0,18,2015,December,50,6,2,0,2,...,A,A,0,No Deposit,0,Transient,107.0,0,0,2015-12-08
4,City Hotel,1,263,2016,September,40,29,2,4,2,...,A,A,0,No Deposit,0,Transient,100.3,0,0,2016-01-18

In [76]:
test.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,City Hotel,73,2016,July,28,6,0,2,1,0.0,...,A,A,0,No Deposit,0,Transient,107.10,0,0,2016-06-12
1,City Hotel,37,2015,October,43,24,2,5,1,1.0,...,A,A,0,No Deposit,0,Transient,87.78,0,0,2015-10-31
2,City Hotel,190,2017,April,14,6,2,3,2,0.0,...,A,A,0,No Deposit,0,Transient,88.40,0,0,2016-09-29
3,City Hotel,287,2016,August,35,24,1,4,2,0.0,...,B,B,1,No Deposit,0,Transient,76.71,0,0,2016-08-29
4,Resort Hotel,386,2016,October,43,20,1,3,2,0.0,...,A,A,0,No Deposit,0,Transient-Party,49.00,0,0,2016-09-14

In [77]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44638 entries, 0 to 44637
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           44638 non-null  object
 1   is_canceled                     44638 non-null  int64
 2   lead_time                       44638 non-null  int64
 3   arrival_date_year               44638 non-null  int64
 4   arrival_date_month              44638 non-null  object
 5   arrival_date_week_number        44638 non-null  int64
 6   arrival_date_day_of_month       44638 non-null  int64
 7   stays_in_weekend_nights         44638 non-null  int64
 8   stays_in_week_nights            44638 non-null  int64
 9   adults                          44638 non-null  int64
 10  children                        44638 non-null  float64
 11  babies                          44638 non-null  int64
 12  meal                            44638 non-null  object
 13  country                         44638 non-null  object
 14  market_segment                  44638 non-null  object
 15  distribution_channel            44638 non-null  object
 16  is_repeated_guest               44638 non-null  int64
 17  previous_cancellations          44638 non-null  int64
 18  previous_bookings_not_canceled  44638 non-null  int64
 19  reserved_room_type              44638 non-null  object
 20  assigned_room_type              44638 non-null  object
 21  booking_changes                 44638 non-null  int64
 22  deposit_type                    44638 non-null  object
 23  days_in_waiting_list            44638 non-null  int64
 24  customer_type                   44638 non-null  object
 25  adr                             44638 non-null  float64
 26  required_car_parking_spaces     44638 non-null  int64
 27  total_of_special_requests       44638 non-null  int64
 28  reservation_status_date         44638 non-null  object
dtypes: float64(2), int64(16), object(11)
memory usage: 9.9+ MB

In [78]:
#произведем предобработку данных
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type', 'reservation_status_date'],
      dtype='object')

In [79]:
#удалим столбцы, которые скорее всего не влияют на результат
train = train.drop(columns = ['reservation_status_date', 'country'])
test = test.drop(columns = ['reservation_status_date', 'country'])

In [80]:
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'arrival_date_month', 'meal', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type'],
      dtype='object')

In [81]:
categ = ['hotel', 'arrival_date_month', 'meal', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type']

for i in categ:
    print(i)
    print(set(test[i].unique()).symmetric_difference(set(train[i].unique())))

hotel
set()
arrival_date_month
set()
meal
set()
market_segment
set()
distribution_channel
set()
reserved_room_type
{'P', 'L'}
assigned_room_type
{'P', 'L'}
deposit_type
set()
customer_type
set()

In [82]:
#видно, что у нас раздичаются категориальные данные в двух столбцах тренировочного и тестовго набора данных
print(train['reserved_room_type'].unique())
print(test['reserved_room_type'].unique())

['E' 'A' 'F' 'D' 'C' 'G' 'H' 'B' 'P']
['A' 'B' 'D' 'E' 'G' 'F' 'C' 'H' 'L']

In [83]:
print(train['assigned_room_type'].unique())
print(test['assigned_room_type'].unique())

['F' 'A' 'G' 'D' 'E' 'C' 'H' 'K' 'B' 'I' 'P']
['A' 'B' 'D' 'E' 'C' 'G' 'F' 'H' 'I' 'K' 'L']

In [84]:
train['reserved_room_type'].value_counts()

A    31897
D     7356
E     2488
F     1082
G      784
B      433
C      355
H      241
P        2
Name: reserved_room_type, dtype: int64

In [85]:
test['assigned_room_type'].value_counts()

A    16182
D     4098
E     1251
F      636
G      460
C      356
B      343
H      140
I       34
K       24
L        1
Name: assigned_room_type, dtype: int64

In [86]:
#один из варинатов решения проблемы, удалить данные столбцы
train = train.drop(columns = ['assigned_room_type','reserved_room_type'])
test = test.drop(columns = ['assigned_room_type','reserved_room_type'])

In [87]:
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'arrival_date_month', 'meal', 'market_segment',
       'distribution_channel', 'deposit_type', 'customer_type'],
      dtype='object')

In [88]:
#произведем кодирование категорильаных данных с помощью LabelEncoder
from sklearn.preprocessing import LabelEncoder

categ = ['arrival_date_month', 'meal', 'customer_type','distribution_channel']

for i in categ:
    LE = LabelEncoder()
    train[i] = LE.fit_transform(train[i])
    test[i] = LE.fit_transform(test[i])

In [89]:
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'market_segment', 'deposit_type'], dtype='object')

In [90]:
category = test.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'market_segment', 'deposit_type'], dtype='object')

In [91]:
#произведем кодирование категорильаных данных с помощью Дамми переменных
train = pd.get_dummies(train, columns = ['hotel', 'market_segment', 'deposit_type'])
test = pd.get_dummies(test, columns = ['hotel', 'market_segment', 'deposit_type'])

In [92]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44638 entries, 0 to 44637
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     44638 non-null  int64
 1   lead_time                       44638 non-null  int64
 2   arrival_date_year               44638 non-null  int64
 3   arrival_date_month              44638 non-null  int32
 4   arrival_date_week_number        44638 non-null  int64
 5   arrival_date_day_of_month       44638 non-null  int64
 6   stays_in_weekend_nights         44638 non-null  int64
 7   stays_in_week_nights            44638 non-null  int64
 8   adults                          44638 non-null  int64
 9   children                        44638 non-null  float64
 10  babies                          44638 non-null  int64
 11  meal                            44638 non-null  int32
 12  distribution_channel            44638 non-null  int32
 13  is_repeated_guest               44638 non-null  int64
 14  previous_cancellations          44638 non-null  int64
 15  previous_bookings_not_canceled  44638 non-null  int64
 16  booking_changes                 44638 non-null  int64
 17  days_in_waiting_list            44638 non-null  int64
 18  customer_type                   44638 non-null  int32
 19  adr                             44638 non-null  float64
 20  required_car_parking_spaces     44638 non-null  int64
 21  total_of_special_requests       44638 non-null  int64
 22  hotel_City Hotel                44638 non-null  uint8
 23  hotel_Resort Hotel              44638 non-null  uint8
 24  market_segment_Aviation         44638 non-null  uint8
 25  market_segment_Complementary    44638 non-null  uint8
 26  market_segment_Corporate        44638 non-null  uint8
 27  market_segment_Direct           44638 non-null  uint8
 28  market_segment_Groups           44638 non-null  uint8
 29  market_segment_Offline TA/TO    44638 non-null  uint8
 30  market_segment_Online TA        44638 non-null  uint8
 31  deposit_type_No Deposit         44638 non-null  uint8
 32  deposit_type_Non Refund         44638 non-null  uint8
 33  deposit_type_Refundable         44638 non-null  uint8
dtypes: float64(2), int32(4), int64(16), uint8(12)
memory usage: 7.3 MB

In [93]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44638 entries, 0 to 44637
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     44638 non-null  int64
 1   lead_time                       44638 non-null  int64
 2   arrival_date_year               44638 non-null  int64
 3   arrival_date_month              44638 non-null  int32
 4   arrival_date_week_number        44638 non-null  int64
 5   arrival_date_day_of_month       44638 non-null  int64
 6   stays_in_weekend_nights         44638 non-null  int64
 7   stays_in_week_nights            44638 non-null  int64
 8   adults                          44638 non-null  int64
 9   children                        44638 non-null  float64
 10  babies                          44638 non-null  int64
 11  meal                            44638 non-null  int32
 12  distribution_channel            44638 non-null  int32
 13  is_repeated_guest               44638 non-null  int64
 14  previous_cancellations          44638 non-null  int64
 15  previous_bookings_not_canceled  44638 non-null  int64
 16  booking_changes                 44638 non-null  int64
 17  days_in_waiting_list            44638 non-null  int64
 18  customer_type                   44638 non-null  int32
 19  adr                             44638 non-null  float64
 20  required_car_parking_spaces     44638 non-null  int64
 21  total_of_special_requests       44638 non-null  int64
 22  hotel_City Hotel                44638 non-null  uint8
 23  hotel_Resort Hotel              44638 non-null  uint8
 24  market_segment_Aviation         44638 non-null  uint8
 25  market_segment_Complementary    44638 non-null  uint8
 26  market_segment_Corporate        44638 non-null  uint8
 27  market_segment_Direct           44638 non-null  uint8
 28  market_segment_Groups           44638 non-null  uint8
 29  market_segment_Offline TA/TO    44638 non-null  uint8
 30  market_segment_Online TA        44638 non-null  uint8
 31  deposit_type_No Deposit         44638 non-null  uint8
 32  deposit_type_Non Refund         44638 non-null  uint8
 33  deposit_type_Refundable         44638 non-null  uint8
dtypes: float64(2), int32(4), int64(16), uint8(12)
memory usage: 7.3 MB

In [94]:
print(train.shape, test.shape)

(44638, 34) (23525, 33)

In [95]:
#проверим балансировку данных
train['is_canceled'].value_counts()

0    31354
1    13284
Name: is_canceled, dtype: int64

In [96]:
#разделим данные на features и target
X = train.drop(columns=['is_canceled'])
y = train['is_canceled']

y.value_counts()

0    31354
1    13284
Name: is_canceled, dtype: int64

In [97]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\user\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\user\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)

In [98]:
#данные не сбалансированны, это необходимо исправить. Используем алгоритм SMOTE и произведем undersampling

from imblearn.over_sampling import SMOTE

os = SMOTE(random_state = 123, k_neighbors = 25)

column = X.columns

X_os, y_os = os.fit_resample(X, y)
X_os = pd.DataFrame(data = X_os, columns = column)
y_os = pd.DataFrame(data = y_os, columns = ['is_canceled'])

print(X_os.shape, y_os.shape)
y_os.value_counts()

(62708, 33) (62708, 1)

is_canceled
0              31354
1              31354
dtype: int64

In [99]:
X_os.head()

,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,market_segment_Aviation,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable
0,3,2016,3,7,12,0,2,2,0.0,0,...,0,0,0,1,0,0,0,1,0,0
1,50,2016,9,47,18,1,2,2,0.0,0,...,0,0,0,0,0,0,1,1,0,0
2,14,2015,11,37,7,1,5,2,2.0,0,...,0,0,0,0,0,0,1,1,0,0
3,18,2015,2,50,6,2,0,2,0.0,0,...,0,0,0,0,0,0,1,1,0,0
4,263,2016,11,40,29,2,4,2,0.0,0,...,0,0,0,0,0,0,1,1,0,0

In [100]:
#from sklearn.preprocessing import MinMaxScaler, StandardScaler

#X_os = pd.DataFrame(StandardScaler().fit_transform(X_os), columns = X_os.columns, index = X_os.index)

In [101]:
#X_os.head()

In [102]:
#данные сбалансированы и обработаны
#переходим к созданию и обучению модели

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(X_os, y_os, random_state = 123, test_size = 0.4) 

print(X_train.shape, X_test.shape)

(37624, 33) (25084, 33)

In [103]:
model = LogisticRegression()

model.fit(X_train, y_train)

pred = model.predict(X_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [106]:
#посмотрим на результаты по метрикам аккуратности, полноты и точности

from sklearn.metrics import accuracy_score, recall_score, precision_score

print(accuracy_score(pred, y_test))
print(recall_score(pred, y_test))
print(precision_score(pred, y_test))

0.7261601020570881
0.7341993504871347
0.7056987353929887

In [107]:
y_pred_test = model.predict(test)

y_pred_test = pd.DataFrame(data = y_pred_test, columns=['is_canceled'])

y_pred_test = y_pred_test.reset_index()

y_pred_test.to_csv('solution.csv', index = False)